.row {
    width: 100%;
}


.row__item {
    border-bottom: 2px solid var(--border-color);
    padding: 15px;
    width: 25%;
    font-size: var(--text-small);
    font-weight: var(--weight-normal);
    word-wrap: break-word;
    text-align: center;
    text-align: left;
}
.row__item::first-letter {
    text-transform: capitalize;
}

.delete__button {
    font-size: 0;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


